/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */

:root {
  --main-bg-color: #1e1e2e;
  --box-bg-color: #1a1b27;
  --box-shadow-color: #161620;
  --text-color: #a6abca;
  --command-color: #676b87;

  --first-child-color: #d15975;
  --second-child-color: #9b75c7;
  --third-child-color: #547741;
  --fourth-child-color: #5f88d3;
  --fifth-child-color: #e1844f;

  --column-count: 3;
}

* {
  box-sizing: border-box;
}

html {
  align-items: center;
  background-color: var(--main-bg-color);
  display: flex;
  font: 22px/1 "Inconsolata", monospace;
  height: 100%;
  justify-content: center;
}

body {
  background-color: var(--box-bg-color);
  box-shadow: 1px 1px 6px var(--box-shadow-color);
  color: var(--text-color);
  min-height: 12rem;
  min-width: 50vw;
  width: 35rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 4px solid rgb(47, 65, 65);
  display: flex;
  flex-direction: column;
}

input,
input:hover,
input:focus,
input:active {
  background: transparent;
  border: 0;
  border-style: none;
  border-color: transparent;
  outline: none;
  outline-offset: 0;
  box-shadow: none;
  caret-color: transparent;
  font: 22px/1 "Inconsolata", monospace;
  color: var(--text-color);
  height: 1rem;
  cursor: default !important;
}

p {
  margin: 0;
}

p span {
  color: var(--command-color);
  max-width: 20%;
}

#input {
  display: inline-flex;
  max-width: 60%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:hover {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1rem;
  padding-block: 1rem;
}

ul:nth-child(5n + 1) li:first-child {
  color: var(--first-child-color);
  margin-block-end: 0.5rem;
}

ul:nth-child(5n + 2) li:first-child {
  color: var(--second-child-color);
  margin-block-end: 0.5rem;
}

ul:nth-child(5n + 3) li:first-child {
  color: var(--third-child-color);
  margin-block-end: 0.5rem;
}

ul:nth-child(5n + 4) li:first-child {
  color: var(--fourth-child-color);
  margin-block-end: 0.5rem;
}

ul:nth-child(5n + 5) li:first-child {
  color: var(--fifth-child-color);
  margin-block-end: 0.5rem;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  margin-block-end: 0.5rem;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }
}
