* {
  transition: all 300ms;
  text-align: center;
  overflow-y: hidden !important;
}

section {
  padding-top: 1rem !important;
}

h1 {
  line-height: 1.5 !important;
}

button {
  border-radius: 5px !important;
  margin-bottom: 0.5rem !important;
}

.site-author {
  color: rebeccapurple;
}

.site-author:hover {
  color: red;
}

.fa-heart {
  color: rebeccapurple;
}

.fa-heart:hover {
  color: red;
}

::selection {
  background: rebeccapurple;
  color: #ffffff;
}
